{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
<div class="row">
        {% for movie in pager %}
            <div class="col-sm-6 p-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                        <p>Cast:</p>
                        <ul>
                            {% for person in movie.getPeople() %}
                                <p>{{ person.firstName }} {{ person.lastName }} - {{ person.role }}</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="paginator">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'twitter_bootstrap4' ,{'omitFirstPage': true})  }}
        {% endif %}
    </div>

{% endblock %}
