{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
<div class="row">
        {% for movie in pager %}
            <div class="col-sm-6 p-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                      {% if movie.getRoles() | length > 0 %}
                        <p class="font-weight-bold">Cast:</p>
                        <ul>
                            {% for role in movie.getRoles() %}
                                <p>{{ role.person.firstName }} {{ role.person.lastName }} - {{ role.role }}</p>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <a href="{{ path('add_person', {id:movie.id}) }}" class="btn btn-primary">Add cast member</a>
                        <a href="{{ path('add_existing', {id:movie.id}) }}" class="btn btn-secondary">Add existing cast member</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="paginator">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'twitter_bootstrap4' ,{'omitFirstPage': true})  }}
        {% endif %}
    </div>

{% endblock %}
