{% extends 'base.html.twig' %}

{% block title %}People{% endblock %}

{% block body %}
    <div class="row">
        {% for person in pager %}
            <div class="col-sm-6 p-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold"> {{ person.firstName }} {{ person.lastName }}</h5>
                        <p class="card-text">Date of birth: {{ person.dob | date("d.m.Y") }}</p>
{#                        <p class="card-text">Role: {{ person.role.role }}</p>#}
                        {% if person.getRoles() | length > 0 %}
                            <p class="font-weight-bold">Movies:</p>
                            <ul>
                                {% for role in person.getRoles() %}
                                    {% for movie in role.movies %}
                                    <p>{{ movie.title }} - {{ role.role }}</p>
                                        {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="paginator">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'twitter_bootstrap4' ,{'omitFirstPage': true})  }}
        {% endif %}
    </div>

{% endblock %}
